            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                    <!-- Brand Logo -->
                    <a class="brand-link">
                      <img src="../../../../assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                           style="opacity: .8">
                      <span style="color: aliceblue" class="brand-text font-weight-light">{{currentUser.name}}</span>
                    </a>
                    <!-- Sidebar -->
                    <div class="sidebar">
                      <!-- Sidebar user panel (optional) -->
                      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                          <img src="../../../../assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                          <a class="d-block">{{currentUser.name}} {{currentUser.last_name}} {{currentUser.second_last_name}}</a>
                        </div>
                      </div>
                      <!-- Sidebar Menu -->
                      <nav class="mt-2">
                        <ul *ngFor="let m of menu" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                          <!-- Add icons to the links using the .nav-icon class
                               with font-awesome or any other icon font library -->
                          
                          <li class="nav-header">{{ m.title }}</li>
                            <li class="nav-item" *ngFor="let c of m.content; let i">

                              <ng-container *ngIf="c.title === 'separator'; else menuContent">
                                <hr style="height: 1px;
                                background-color: #ccc; /* Cambia el color según tu tema */
                                margin: 10px 0;">
                              </ng-container>

                              <ng-template #menuContent>
                                <a (click)="changeTab(i)" class="nav-link">
                                    <i class="nav-icon {{ c.icon }}"></i>
                                    <p>{{ c.title }}</p>
                                </a>
                                <ul class="nav nav-treeview" *ngIf="c.submenu && c.submenu.length > 0">
                                    <li class="nav-item" *ngFor="let sub of c.submenu">
                                        <a (click)="changeTab(sub)" class="nav-link" style="padding-left: 30px;">
                                            <i class="nav-icon {{ sub.icon }}"></i>
                                            <p>{{ sub.title }}</p>
                                        </a>
                                    </li>
                                </ul>
                              </ng-template>
                          </li>
                          <!--li class="nav-header"></li>
                          <li class="nav-item">
                              <a (click)="logout()" class="nav-link">
                                  <i class="nav-icon fa fa-chevron-left"></i>
                                  <p>Salir</p>
                              </a>
                          </li-->
                        </ul>
                      </nav>
                      <!-- /.sidebar-menu -->
                    </div>
                    <!-- /.sidebar -->
                  </aside>

                  <!-- CONTENIDO SE INYECTA DINAMICAMENTE-->
                  <div  #figureContainer></div>