





  
<div class="content-wrapper">
    <div class="register-logo">
        <a class="text-center"><b>Listado</b> Clientes</a>
    </div>
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">Clientes Activos</h3>
          <!-- Botón para agregar nuevo registro -->
          <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#nuevoClienteModal">
            <i class="fas fa-plus"></i> Agregar Nuevo Cliente
          </button>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Saldo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of clients">
                <td>{{ c.id }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.phone }}</td>
                <td>{{ c.email }}</td>
                <td>$0.00</td>
                <td>
                  <!-- Icono de Ver Contacto -->
                  <button class="btn btn-info btn-sm"  style="margin-right: 10px;" title="Ver contacto" data-toggle="modal"  data-target="#detalleModal" (click)="setClient(c)">
                    <i class="fas fa-info-circle"></i>
                  </button>
                  <!-- Icono de Ver Productos -->
                  <button class="btn btn-warning btn-sm" style="margin-right: 10px;" title="Ver productos" data-toggle="modal"  data-target="#productosModal">
                    <i class="fas fa-box-open"></i>
                  </button>
                  <!-- Icono de Editar -->
                  <button class="btn btn-primary btn-sm" style="margin-right: 10px;" title="Editar Cliente" data-toggle="modal"  data-target="#editarModal" (click)="setClient(c)">
                    <i class="fas fa-edit"></i>
                  </button>
                  <!-- Icono de Eliminar -->
                  <button class="btn btn-danger btn-sm" style="margin-right: 10px;" title="Eliminar Cliente" data-toggle="modal"  data-target="#eliminarClienteModal" (click)="setClient(c)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
              <!-- Repite <tr> para más filas -->
            </tbody>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Saldo</th>
                <th>Acciones</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
</div>


<div class="modal fade" #nuevoClienteModal id="nuevoClienteModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalLabel" style="text-align: center; width: 100%;"><b>Nuevo</b> Cliente</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-nuevo-cliente-form (closeModalEvent)="closeModal()" [user]="currentUser"></app-nuevo-cliente-form> <!-- Selector de tu componente de formulario -->
        </div>
      </div>
    </div>
  </div>



<!-- Modal para Editar -->
<div class="modal fade" #editarModal id="editarModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalLabel" style="text-align: center; width: 100%;"><b>Editar</b> Cliente</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-nuevo-cliente-form (closeModalEvent)="closeModalEditar()" [currentClient]="client" [user]="currentUser"></app-nuevo-cliente-form>
          </div>
        </div>
      </div>
  </div>
  


<!-- Modal para Eliminar Cliente -->
<div class="modal fade" #eliminarClienteModal id="eliminarClienteModal" tabindex="-1" role="dialog" aria-labelledby="eliminarClienteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eliminarClienteModalLabel">Eliminar Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModalEliminar()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que deseas desactivar este cliente? Esta acción no se puede deshacer.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="confirmarEliminacion()">Desactivar</button>
          <button type="button" class="btn btn-secondary" (click)="cerrarModalEliminar()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  
  

  <!-- Modal para Ver Detalles -->
<div class="modal fade" #detalleModal id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detalleModalLabel">Detalle del Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModalDetalle()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Aquí va el contenido del detalle del cliente -->
          <div class="card">
            <div class="card-body">
              <p class="card-text"><strong>Nombre del Cliente:</strong> {{ client.name }}</p>
              <p class="card-text"><strong>Email:</strong> {{ client.email }}</p>
              <p class="card-text"><strong>Teléfono:</strong> {{ client.phone }}</p>
              <p class="card-text"><strong>Dirección:</strong> {{ client.address }}</p>
              <p class="card-text"><strong>Descripción:</strong> {{ client.description }}</p>
              <!-- Otros detalles que desees mostrar -->
            </div>
          </div>

          <div class="card mt-3">
            <div class="card-body" *ngFor="let c of client.contacts">
              <h5 class="card-title">Información de Contacto</h5>
              <p class="card-text"><strong>Nombre de Contacto:</strong> {{ c.name }}</p>
              <p class="card-text"><strong>Email de Contacto:</strong> {{ c.email }}</p>
              <p class="card-text"><strong>Teléfono de Contacto:</strong> {{ c.phone }}</p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>



 <!-- Modal para Ver Productos -->
<!-- Modal para Ver Productos -->
<div class="modal fade" #productosModal id="productosModal" tabindex="-1" role="dialog" aria-labelledby="productosModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productosModalLabel">Productos Vendidos al Cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Tabla de productos -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Fecha de Venta</th>
              <!-- Otros campos que desees incluir -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productosDelCliente">
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.cantidad }}</td>
              <td>{{ producto.precio | currency }}</td>
              <td>{{ producto.fechaVenta | date }}</td>
              <!-- Otros campos del producto -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>